import org.jetbrains.kotlin.gradle.tasks.KotlinCompile

group = "{{groupId}}"
version = "{{artifactVersion}}"
java.sourceCompatibility = JavaVersion.VERSION_17

repositories {
    mavenCentral()
}

tasks.withType<KotlinCompile> {
    kotlinOptions.jvmTarget = "17"
}

plugins {
    java
    `maven-publish`
    val kotlinVersion = "1.8.0"
    kotlin("jvm") version kotlinVersion
}
java {
    withJavadocJar()
    withSourcesJar()
}
dependencies {
    implementation("org.jetbrains.kotlin:kotlin-stdlib")
    implementation("org.jetbrains.kotlin:kotlin-reflect")
    implementation("org.springframework:spring-web:6.0.9")
    implementation("com.google.code.findbugs:jsr305:3.0.2")
    implementation("com.fasterxml.jackson.dataformat:jackson-dataformat-yaml:2.15.1")
    implementation("com.fasterxml.jackson.dataformat:jackson-dataformat-xml:2.15.1")
    implementation("com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.15.1")
    implementation("com.fasterxml.jackson.module:jackson-module-kotlin:2.15.1")
    compileOnly("jakarta.servlet:jakarta.servlet-api:6.0.0")
    implementation("jakarta.validation:jakarta.validation-api:3.0.2")
}


publishing {
    publications {
        create<MavenPublication>("mavenKotlin") {
            from(components["java"])
        }
    }
}

